<!DOCTYPE html>
<html>
<head>
    <title>Search Flight</title>
</head>
<body>
    <h1>Search Flight</h1>
    <form action="/search-flight" method="post">
        <label for="source_airport_code">Source Airport Code:</label>
        <input type="text" id="source_airport_code" name="source_airport_code"><br><br>

        <label for="destination_airport_code">Destination Airport Code:</label>
        <input type="text" id="destination_airport_code" name="destination_airport_code"><br><br>

        <label for="departure_date">Departure Date:</label>
        <input type="text" id="departure_date" name="departure_date"><br><br>

        <label for="return_date">Return Date:</label>
        <input type="text" id="return_date" name="return_date"><br><br>

        <label for="number_people">Number of People:</label>
        <input type="text" id="number_people" name="number_people"><br><br>

        <input type="submit" value="Search">
    </form>
</body>
</html>
